.page.theme_dark {
  --accent-color: #ff0070;
  --bg-color:#000028;
  --text-color: #F1B2CE;
  --accent-font-color: #DB00FF; 
  --cover-image: url(../images/cover-image-dark.png);
  --title-decor: #ff0070;
  --title-text-color: #000028;
  --menu-color:#ff0070;
  --rec-icon-color:#ff0070;
  --section-heading-color: #ff0070;
  --button-hover: rgba(255, 0, 112, 0.4);
}