:root {
  --accent-color: #ff0070;
  --bg-color:#000028;
  --text-color: #f1b2ce;
  --main-font: IBM Plex Mono;
  --accent-font-color: #db00ff; 
  --cover-image: url(../images/cover-image-dark.png);
  --title-decor: #ff0070;
  --title-text-color: #000028;
  --menu-color:#ff0070;
  --rec-icon-color: #ff0070;
  --section-heading-color: #ff0070;
  --button-hover: rgba(255, 0, 112, 0.4);
}